.text {
  font-size: 1.2rem;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: 500;

  &--sm {
    font-size: 1.2rem;
  }

  &--md {
    font-size: 1.6rem;
  }

  // FONT WEIGHT

  &--bold {
    font-weight: 700;
  }

  &--medium {
    font-weight: 500;
  }

  &--normal {
    font-weight: 400;
  }

  // TEXT COLOR

  &--primary {
    color: $primary;
  }

  &--white {
    color: $white;
  }

  &--black {
    color: $black;
  }
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.block {
  display: block;
}

.grid {
  display: grid;
}

.flex-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-between-centered {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bg {
  &--white {
    color: $white;
  }

  &--black {
    background-color: $black;
  }

  &--primary {
    background-color: $primary;
  }
}

//sizings

.h-screen {
  height: 100vh;
}

.h-full {
  height: 100%;
}

.h-500 {
  height: 400px;
}

.w-full {
  width: 100%;
}

.px-15 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
